.flex-container {
  width: 1080px;
  margin: 0 auto;
}
html {
  font-size: 18px;
}
@media (min-width: 1112px) {
  html {
    font-size: 18px;
  }
  html .flex-container {
    max-width: 1080px;
  }
}
@media (max-width: 1112px) {
  .flex-container {
    display: block;
    width: calc(100% - 32px);
    padding-left: 16px;
    padding-right: 16px;
  }
}
