.header {
  background: $color-text-black;
}
.header-inner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-top: $margin-m-1;
  margin-bottom: $margin-m-1;
}
.header-inner #menu-btn {
  display: none;
}
.header-inner .site-nav {
  flex-grow: 1;
  overflow-x: auto;
}
.header-inner a {
  color: $color-text-fourth;
  text-decoration: none;
  font-weight: $font-weight-medium;
}
.header-inner a:hover {
  color: $color-text-secondary;
}
.header-inner .site-brand-container > a {
  font-size: 1.2rem;
  font-weight: 900;
}
.menu-list {
  list-style: none;
  text-align: right;
  display: flex;
}
.menu-list .menu-item {
  position: relative;
  margin-left: $margin-l-0;
}
.menu-list:before {
  content: "";
  flex-grow: 1;
}
.menu-item-active {
  border-bottom: solid $line-secondary;
}
.logo-img {
  max-height: $line-height-heading-h1;
  width: auto;
  max-width: 100%;
  display: flex;
}
@media (max-width: 688px) {
  .header-inner {
    flex-wrap: wrap;
  }
  .header-inner #menu-btn {
    display: block !important;
    text-align: right;
    margin-left: auto;
    padding-right: 24px;
    width: auto;
  }
  .header-inner #menu-btn .icon {
    float: right;
    cursor: pointer;
  }
  .header-inner .site-brand-container {
    width: 50%;
  }
  .header-inner .site-nav {
    width: 100%;
  }
  .header-inner .site-nav .menu-list {
    height: 0;
    overflow: hidden;
  }
  .header-inner .site-nav .menu-list .menu-item {
    margin-right: 0;
    margin-left: auto;
    margin-top: $margin-m-0;
  }
  .header-inner .site-nav .active {
    margin-top: $margin-m-1;
    height: auto;
    flex-direction: column;
  }
}
#menu-btn {
  cursor: pointer;
  user-select: none;
  position: relative;
}
#menu-btn:before {
  border-right: 3px solid $color-light;
  border-bottom: 3px solid $color-light;
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  right: 4px;
  top: 2px;
  -webkit-transform: translateY(0) rotate(45deg) scale(1);
  -ms-transform: translateY(0) rotate(45deg) scale(1);
  transform: translateY(0) rotate(45deg) scale(1);
}
#menu-btn.active {
  color: $color-text-black;
  background: $color-link-shader;
}
#menu-btn.active:before {
  top: 8px;
  border-right: 3px solid $color-text-black;
  border-bottom: 3px solid $color-text-black;
  -webkit-transform: translateY(0) rotate(225deg) scale(1);
  -ms-transform: translateY(0) rotate(225deg) scale(1);
  transform: translateY(0) rotate(225deg) scale(1);
}
