.post-text {
  max-width: 720px;
}
.post-head {
  margin-top: $margin-primary;
}
.post-info {
  display: flex;
  flex-direction: column;
  margin-bottom: $margin-l-2;
}
.post-info .post-cats {
  margin-bottom: $margin-m-2;
}
.post-info .post-excerpt {
  margin-top: $margin-l-1;
  font-size: $font-size-heading-h3;
}
.post-info .post-time-loc {
  margin-top: $margin-m-2;
  color: $color-text-secondary;
}
.post-pinned-img {
  margin-bottom: $margin-l-2;
}
