table {
  border-collapse: collapse;
  table-layout: auto;
}
th {
  padding: $margin-m-1;
  word-wrap: normal;
  word-break: normal;
  white-space: nowrap;
}
td {
  padding: $margin-m-1;
  word-wrap: break-word;
  word-break: normal;
}
td>strong {
  white-space: nowrap;
}
table,
tboby,
tr,
td {
  background-color: inherit;
}
.highlight>table {
  width: 100%;
  min-width: fit-content;
}
