table,
td,
th {
  text-align: left;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
td,
th {
  padding: $margin-m-1;
}
table,
tboby,
tr,
td {
  background-color: inherit;
}
.highlight>table {
  width: 100%;
  min-width: fit-content;
}
